* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Varela Round", sans-serif;
    /* font-size: 18px;
        line-height: 25px;
        color: #a2a2a2;
        font-weight: 400;
        background-color: #fff;
        overflow-x: hidden!important;
        -webkit-font-smoothing: antialiased; */
}

.banner-text {
    color: white;
    padding: 250px 0px;
    margin-right: 40%;
    text-transform: capitalize;
}

.main-page-headding {
    background-color: #092C58;
    padding: 50px 0px;
    
}

.main-page-headding h1 {
    color: white;
    font-size: 32px;
    margin: 0px 20%;
    text-align: center;

}




.Contain-main{
    height: 100%;
    width: 100%;
    color: rgb(0, 5, 101);
    margin: 0px 40px 50px 0px;
    text-align: center;
 

}

.position h1{
    /* padding: 50px 80px 120px 25px; */
    font-size: 32px;
    

}
.support-card h1{
font-size: 26px;
}
.support-card p{
    font-size: 16px;
}


.container-card{
    
    float: left;
}



.main-third{
    height: 100%;
    width: 100%;
    color: rgb(0, 5, 101);
    margin: 0px 40px 50px 0px;

}
.footer{
    background: rgb(31, 31, 31);
    padding: 50px 0px;
    color: white;
}
.footer p{
    font-size: 16px;
}
.footer-nav li{
    list-style: none;
}
.social-link-icon{
    font-size: 25px;
}


